.app {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.app-left {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-right {
  width: 20%;
}

.app h1 {
  color: white;
}

.app a {
  color: lightblue;
  position: absolute; 
  top: 0; 
  left: 0;
}