@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Dosis';
}

body {
  background-image: radial-gradient(#03001e, #2e0000, #03001e);
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}